# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
import pandas as pd
import sqlite3

In [3]:
connection = sqlite3.connect('Walmart.db')
cursor = connection.cursor()

In [9]:
cursor.execute("""SELECT * FROM Sales
                            JOIN store_details
                            USING(Store)
                            ;""")
df = pd.DataFrame(cursor.fetchall())
df.columns = [i[0] for i in cursor.description]
df.head()

   Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0      1     1  2010-02-05      24924.50     False    A  151315
1      1     1  2010-02-12      46039.49      True    A  151315
2      1     1  2010-02-19      41595.55     False    A  151315
3      1     1  2010-02-26      19403.54     False    A  151315
4      1     1  2010-03-05      21827.90     False    A  151315

In [12]:
df2 = pd.read_csv('economy_data.csv')
df2.head(100)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,1,2010-04-16,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,1,2010-04-23,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,1,2010-04-30,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,1,2010-05-07,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,1,2010-05-14,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,2010-05-21,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,2010-05-28,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,2010-06-04,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,2010-06-11,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,1,2010-06-18,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,1,2010-06-25,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,1,2010-07-02,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,1,2010-07-09,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,1,2010-07-16,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,1,2010-07-23,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,1,2010-07-30,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,1,2010-08-06,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,1,2010-08-13,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,1,2010-08-20,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,1,2010-08-27,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,2011-06-10,83.13,3.648,NaN,NaN,NaN,NaN,NaN,215.043523,7.682,False
71,1,2011-06-17,86.41,3.637,NaN,NaN,NaN,NaN,NaN,214.998060,7.682,False
72,1,2011-06-24,83.58,3.594,NaN,NaN,NaN,NaN,NaN,215.091098,7.682,False
73,1,2011-07-01,85.55,3.524,NaN,NaN,NaN,NaN,NaN,215.184137,7.962,False
74,1,2011-07-08,85.83,3.480,NaN,NaN,NaN,NaN,NaN,215.277175,7.962,False
75,1,2011-07-15,88.54,3.575,NaN,NaN,NaN,NaN,NaN,215.361109,7.962,False
76,1,2011-07-22,85.77,3.651,NaN,NaN,NaN,NaN,NaN,215.422278,7.962,False
77,1,2011-07-29,86.83,3.682,NaN,NaN,NaN,NaN,NaN,215.483448,7.962,False
78,1,2011-08-05,91.65,3.684,NaN,NaN,NaN,NaN,NaN,215.544618,7.962,False
79,1,2011-08-12,90.76,3.638,NaN,NaN,NaN,NaN,NaN,215.605788,7.962,False
80,1,2011-08-19,89.94,3.554,NaN,NaN,NaN,NaN,NaN,215.669311,7.962,False
81,1,2011-08-26,87.96,3.523,NaN,NaN,NaN,NaN,NaN,215.733226,7.962,False
82,1,2011-09-02,87.83,3.533,NaN,NaN,NaN,NaN,NaN,215.797141,7.962,False
83,1,2011-09-09,76.00,3.546,NaN,NaN,NaN,NaN,NaN,215.861056,7.962,True
84,1,2011-09-16,79.94,3.526,NaN,NaN,NaN,NaN,NaN,216.041053,7.962,False
85,1,2011-09-23,75.80,3.467,NaN,NaN,NaN,NaN,NaN,216.375825,7.962,False
86,1,2011-09-30,79.69,3.355,NaN,NaN,NaN,NaN,NaN,216.710596,7.962,False
87,1,2011-10-07,69.31,3.285,NaN,NaN,NaN,NaN,NaN,217.045368,7.866,False
88,1,2011-10-14,71.74,3.274,NaN,NaN,NaN,NaN,NaN,217.355273,7.866,False
89,1,2011-10-21,63.71,3.353,NaN,NaN,NaN,NaN,NaN,217.515976,7.866,False
90,1,2011-10-28,66.57,3.372,NaN,NaN,NaN,NaN,NaN,217.676679,7.866,False
91,1,2011-11-04,54.98,3.332,NaN,NaN,NaN,NaN,NaN,217.837382,7.866,False
92,1,2011-11-11,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,False
93,1,2011-11-18,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,2011-11-25,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,2011-12-02,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,2011-12-09,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False
97,1,2011-12-16,51.63,3.159,5011.32,67.00,347.37,225.79,4011.37,219.179453,7.866,False
98,1,2011-12-23,47.96,3.112,2725.36,40.48,634.70,24.90,2739.43,219.357722,7.866,False
99,1,2011-12-30,44.55,3.129,5762.10,46011.38,260.36,983.65,4735.78,219.535990,7.866,True

In [11]:
print(df.shape)
print(df2.shape)

(452192, 7)
(8190, 12)

Differing dates available for each dataset. Will join LEFT on Store AND Date.

In [17]:
df_merged = pd.merge(df, df2, how='left', on=['Store', 'Date'])
df_merged.head(100)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,1,2010-03-12,21043.39,False,A,151315,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,1,2010-03-19,22136.64,False,A,151315,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,1,2010-03-26,26229.21,False,A,151315,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,1,2010-04-02,57258.43,False,A,151315,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,1,2010-04-09,42960.91,False,A,151315,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,1,1,2010-04-16,17596.96,False,A,151315,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,1,1,2010-04-23,16145.35,False,A,151315,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,1,1,2010-04-30,16555.11,False,A,151315,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,1,1,2010-05-07,17413.94,False,A,151315,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,1,1,2010-05-14,18926.74,False,A,151315,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,1,2010-05-21,14773.04,False,A,151315,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,1,2010-05-28,15580.43,False,A,151315,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,1,2010-06-04,17558.09,False,A,151315,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,1,2010-06-11,16637.62,False,A,151315,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,1,1,2010-06-18,16216.27,False,A,151315,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,1,1,2010-06-25,16328.72,False,A,151315,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,1,1,2010-07-02,16333.14,False,A,151315,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,1,1,2010-07-09,17688.76,False,A,151315,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,1,1,2010-07-16,17150.84,False,A,151315,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,1,1,2010-07-23,15360.45,False,A,151315,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,1,1,2010-07-30,15381.82,False,A,151315,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,1,1,2010-08-06,17508.41,False,A,151315,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,1,1,2010-08-13,15536.40,False,A,151315,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,1,1,2010-08-20,15740.13,False,A,151315,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,1,1,2010-08-27,15793.87,False,A,151315,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,1,2011-06-10,15883.52,False,A,151315,83.13,3.648,NaN,NaN,NaN,NaN,NaN,215.043523,7.682,False
71,1,1,2011-06-17,14978.09,False,A,151315,86.41,3.637,NaN,NaN,NaN,NaN,NaN,214.998060,7.682,False
72,1,1,2011-06-24,15682.81,False,A,151315,83.58,3.594,NaN,NaN,NaN,NaN,NaN,215.091098,7.682,False
73,1,1,2011-07-01,15363.50,False,A,151315,85.55,3.524,NaN,NaN,NaN,NaN,NaN,215.184137,7.962,False
74,1,1,2011-07-08,16148.87,False,A,151315,85.83,3.480,NaN,NaN,NaN,NaN,NaN,215.277175,7.962,False
75,1,1,2011-07-15,15654.85,False,A,151315,88.54,3.575,NaN,NaN,NaN,NaN,NaN,215.361109,7.962,False
76,1,1,2011-07-22,15766.60,False,A,151315,85.77,3.651,NaN,NaN,NaN,NaN,NaN,215.422278,7.962,False
77,1,1,2011-07-29,15922.41,False,A,151315,86.83,3.682,NaN,NaN,NaN,NaN,NaN,215.483448,7.962,False
78,1,1,2011-08-05,15295.55,False,A,151315,91.65,3.684,NaN,NaN,NaN,NaN,NaN,215.544618,7.962,False
79,1,1,2011-08-12,14539.79,False,A,151315,90.76,3.638,NaN,NaN,NaN,NaN,NaN,215.605788,7.962,False
80,1,1,2011-08-19,14689.24,False,A,151315,89.94,3.554,NaN,NaN,NaN,NaN,NaN,215.669311,7.962,False
81,1,1,2011-08-26,14537.37,False,A,151315,87.96,3.523,NaN,NaN,NaN,NaN,NaN,215.733226,7.962,False
82,1,1,2011-09-02,15277.27,False,A,151315,87.83,3.533,NaN,NaN,NaN,NaN,NaN,215.797141,7.962,False
83,1,1,2011-09-09,17746.68,True,A,151315,76.00,3.546,NaN,NaN,NaN,NaN,NaN,215.861056,7.962,True
84,1,1,2011-09-16,18535.48,False,A,151315,79.94,3.526,NaN,NaN,NaN,NaN,NaN,216.041053,7.962,False
85,1,1,2011-09-23,17859.30,False,A,151315,75.80,3.467,NaN,NaN,NaN,NaN,NaN,216.375825,7.962,False
86,1,1,2011-09-30,18337.68,False,A,151315,79.69,3.355,NaN,NaN,NaN,NaN,NaN,216.710596,7.962,False
87,1,1,2011-10-07,20797.58,False,A,151315,69.31,3.285,NaN,NaN,NaN,NaN,NaN,217.045368,7.866,False
88,1,1,2011-10-14,23077.55,False,A,151315,71.74,3.274,NaN,NaN,NaN,NaN,NaN,217.355273,7.866,False
89,1,1,2011-10-21,23351.80,False,A,151315,63.71,3.353,NaN,NaN,NaN,NaN,NaN,217.515976,7.866,False
90,1,1,2011-10-28,31579.90,False,A,151315,66.57,3.372,NaN,NaN,NaN,NaN,NaN,217.676679,7.866,False
91,1,1,2011-11-04,39886.06,False,A,151315,54.98,3.332,NaN,NaN,NaN,NaN,NaN,217.837382,7.866,False
92,1,1,2011-11-11,18689.54,False,A,151315,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,False
93,1,1,2011-11-18,19050.66,False,A,151315,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,1,2011-11-25,20911.25,True,A,151315,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,1,2011-12-02,25293.49,False,A,151315,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,1,2011-12-09,33305.92,False,A,151315,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False
97,1,1,2011-12-16,45773.03,False,A,151315,51.63,3.159,5011.32,67.00,347.37,225.79,4011.37,219.179453,7.866,False
98,1,1,2011-12-23,46788.75,False,A,151315,47.96,3.112,2725.36,40.48,634.70,24.90,2739.43,219.357722,7.866,False
99,1,1,2011-12-30,23350.88,True,A,151315,44.55,3.129,5762.10,46011.38,260.36,983.65,4735.78,219.535990,7.866,True

In [19]:
df_merged.to_csv('Merged_Database.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!